/**
 * This file provides the main design styles for the page content.
 */

/* table of contents */
#dw__toc {
    float: inherit;
    width: auto;
    margin: 0 0 1.4em 0;
    border: 1px solid __border__;
    background-color: __background__;
}

#dw__toc h3.toggle {
    margin: 0;
    font-size: 1em;
}

#dw__toc h3.toggle.closed {
    border: none;
}

#dw__toc > h3,
#dw__toc > div {
    padding: 0.4em 0.8em;
}

#dw__toc a {
    color: __text__;
}


/* existing wikipage */
#dokuwiki__content a.wikilink1 {
    color: __link__;
}
/* not existing wikipage */
#dokuwiki__content a.wikilink2 {
    border-bottom: 1px dashed __missing__;
    color: __missing__;
}
#dokuwiki__content a.wikilink2:link,
#dokuwiki__content a.wikilink2:visited {
    border-bottom: none;
}
#dokuwiki__content a.wikilink2:hover,
#dokuwiki__content a.wikilink2:active,
#dokuwiki__content a.wikilink2:focus {
    border-bottom-width: 0;
}

/* any link to current page */
.dokuwiki span.curid a {
    font-weight: bold;
}

/* undo "clever" styling from fileuploader.js */
.qq-upload-button {
    cursor: inherit !important;
    direction: inherit !important;
}
.qq-upload-button input {
    font-family: inherit !important;
    font-size: 1em !important;
    margin: inherit !important;
    opacity: 1 !important;
    padding: inherit !important;
    position: static !important;
}

.JSpopup {
    padding: 0.2em 0.4em;
    border: 1px solid __border__;
}
