/**
 * This file provides the main design styles for the page content.
 */

/* existing wikipage */
#dokuwiki__content a.wikilink1 {
    color: __link__;
}
/* not existing wikipage */
#dokuwiki__content a.wikilink2 {
    border-bottom: 1px dashed __missing__;
    color: __missing__;
}
#dokuwiki__content a.wikilink2:link,
#dokuwiki__content a.wikilink2:visited {
    border-bottom: none;
}
#dokuwiki__content a.wikilink2:hover,
#dokuwiki__content a.wikilink2:active,
#dokuwiki__content  a.wikilink2:focus {
    border-bottom-width: 0;
}

/* any link to current page */
.dokuwiki span.curid a {
    font-weight: bold;
}

/* undo "clever" styling from fileuploader.js */
.qq-upload-button {
    cursor: inherit !important;
    direction: inherit !important;
}
.qq-upload-button input {
    font-family: inherit !important;
    font-size: 1em !important;
    margin: inherit !important;
    opacity: 1 !important;
    padding: inherit !important;
    position: static !important;
}

.JSpopup {
    padding: 0.2em 0.4em;
    border: 1px solid __border__;
}
