/**
 * This file provides the main design styles for the
 * bits that surround the content.
 */

/* dokuwiki__header */
#dokuwiki__header {
    max-height: 40px;
    border-bottom: 1px solid @ini_border;
}

#dokuwiki__header h1 {
    margin-top: 6px;
    overflow: hidden;
    font: 1.8em 'Times new roman', 'Century Gothic', sans-serif;
}

#dokuwiki__header h1 a {
    color: @ini_text;
}

#dokuwiki__header h1 a:hover {
    text-decoration: none;
}

#dokuwiki__header button {
    width: 24px;
    height: 24px;
    margin: 8px 0;
    border: 0 none;
    outline: none;
    background: transparent url('images/ipari-silpleline.png') no-repeat;
    background-size: 120px 120px;
}

#dokuwiki__header #left_button {
    margin-left: 16px;
    background-position: 0 0;
}

#dokuwiki__header #right_button {
    margin-right: 16px;
    background-position: -24px 0;
}

#dokuwiki__header #search_button {
    margin-right: 8px;
    background-position: -72px 0;
}

#dokuwiki__header div.search {
    padding: 6px 10px;
}

#dokuwiki__header div.search button {
    display: none;
    text-indent: -9999px;
    background-position: -72px 0;
}

#dokuwiki__header div.search input[type=text] {
    padding: 4px 6px;
}

button.hide_text {
    text-indent: -9999px;
}

/* sidebar_bg */
.sidebar .submenu {
    background-color: @ini_background;
}

#sidebar_left {
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .submenu h3 {
    font-size: 1.17em;
    padding: 9px 12px;
    border-bottom: 1px solid @ini_border;
}

.sidebar .submenu:not(:first-child) h3 {
    margin-top: 1em;
}

.sidebar .submenu i {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 1em;
    background: transparent url('images/ipari-silpleline.png') no-repeat;
    background-size: 120px 120px;
    vertical-align: -40%;
}

.dokuwiki .sidebar a.wikilink1 {
    color: @ini_text;
}

.dokuwiki .sidebar a.wikilink2 {
    color: @ini_missing;
}

.sidebar .user {
    padding: 6px 12px;
    overflow: hidden;
}

.sidebar .submenu a {
    padding: 10px 12px;
    color: @ini_text;
    display: block;
    vertical-align: top;
    text-decoration: none;
}

.sidebar .submenu a:hover {
    color: @ini_link;
}

.sidebar .submenu li:hover {
    background-color: #eee;
}

a.action.admin i {
    background-position: -48px 0;
}

a.action.profile i {
    background-position: 0px -24px;
}

a.action.login i {
    background-position: -48px -24px;
}

a.action.logout i {
    background-position: -72px -24px;
}

a.action.register i {
    background-position: -24px -24px;
}

a.action.create i {
    background-position: 0 -48px;
}

a.action.show i {
    background-position: -24px -96px;
}

a.action.source i {
    background-position: 0 -96px;
}

a.action.edit i {
    background-position: -24px 0;
}

a.action.revs i {
    background-position: -48px -48px;
}

a.action.backlink i {
    background-position: -24px -48px;
}

a.action.top i {
    background-position: -72px -48px;
}

a.action.recent i {
    background-position: 0 -72px;
}

a.action.media i {
    background-position: -24px -72px;
}

a.action.index i {
    background-position: -48px -72px;
}

.sidebar ul {
    list-style-type: none;
}

#dokuwiki__content div.breadcrumbs a {
    color: @ini_text;
}

/* highlight selected tool */
.mode_admin a.action.admin,
.mode_login a.action.login,
.mode_register a.action.register,
.mode_profile a.action.profile,
.mode_recent a.action.recent,
.mode_index a.action.index,
.mode_media a.action.media,
.mode_revisions a.action.revs,
.mode_backlink a.action.backlink,
.mode_subscribe a.action.subscribe {
    font-weight: bold;
}

#dokuwiki__footer {
    text-align: center;
}

#dokuwiki__footer .doc {
    text-align: right;
}
[dir=rtl] #dokuwiki__footer .doc {
    text-align: left;
}

/* site, page and user tools */
.tools > div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-right: 1em;
}
[dir=rtl] .tools > div {
    padding-left: 1em;
    padding-right: 0;
    text-align: right;
}
