/* general */
.btn_icon {
    text-indent: -9999px;
}

.sidebar,
.breadcrumbs {
    a,
    a.wikilink1 {
        color: @ini_text;
    }
    a:hover,
    a.wikilink1:hover {
        color: @ini_existing;
        text-decoration: none;
    }
    a.wikilink2,
    a.wikilink2:link {
        color: @ini_missing;
        border: none;
    }
}

/* header */
#dokuwiki__header {
    background: @ini_background;
    border-bottom: 1px solid @ini_border;

    h1 {
        margin: 5px 0 0 0;
        overflow: hidden;
        text-overflow: ellipsis;
        font: 1.8em 'Times new roman', Times, serif;
        white-space: nowrap;
    }
    a,
    a:link,
    a:hover,
    a:active {
        color: @ini_text;
        text-decoration: none;
    }
    button {
        width: 24px;
        height: 24px;
        margin: 8px 0;
        border: 0 none;
        outline: none;
        background: transparent url('images/ipari-silpleline.png') no-repeat;
        background-size: 120px 120px;
        text-indent: -9999px;
    }
    div.left {
        button:first-child {
            margin-left: 16px;
        }
        button {
            margin-left: 8px;
        }
    }
    div.right {
        button:last-child {
            margin-right: 16px;
        }
        button {
            margin-right: 8px;
        }
    }
    div.search {
        display: none;
        padding: 6px 10px;

        button {
            display: none;
        }
        input[type=text] {
            padding: 4px 6px;
        }
    }
    .btn_left {
        background-position: 0 0;
    }
    .btn_right {
        background-position: -24px 0;
    }
    .btn_search {
        background-position: -72px 0;
    }
}

/* nav */
#dokuwiki__aside,
#dokuwiki__tools {
    display: none;
    background-color: @ini_background;
}
#sidebar_bg {
    display: none;
    background-color: rgba(0, 0, 0, .75);
}
/* just for test */

#dokuwiki__aside {
    > h1,
    > h2,
    > div.level1,
    > div.level2 {
        padding-left: 8px;
        padding-right: 8px;
        margin: 0 0 8px;
    }
    p,
    pre,
    table,
    hr,
    blockquote,
    figure,
    details,
    fieldset,
    address {
        margin: 0 0 .4em 0;
    }
    p + p {
        margin-top: 1em;
    }
}
.sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    h3 {
        font-size: 1.17em;
        margin-bottom: 0;
        padding: 9px 12px;
        border-bottom: 1px solid @ini_border;
    }
    ul {
        list-style-type: none;
        margin-bottom: .4em;
    }
    li {
        margin: 0;
    }
    li li {
        margin-left: 1em;
    }
    li a {
        display: block;
        padding: 10px 12px;
        vertical-align: top;
    }
    li a:hover {
        background-color: @ini_background_alt;
    }
    li i {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 1em;
        background: transparent url('images/ipari-silpleline.png') no-repeat;
        background-size: 120px 120px;
        vertical-align: -40%;
    }
    div.user {
        padding: 6px 12px;
    }

    a.action.admin i {
        background-position: -48px 0;
    }

    a.action.profile i {
        background-position: 0px -24px;
    }

    a.action.login i {
        background-position: -48px -24px;
    }

    a.action.logout i {
        background-position: -72px -24px;
    }

    a.action.register i {
        background-position: -24px -24px;
    }

    a.action.create i {
        background-position: 0 -48px;
    }

    a.action.show i {
        background-position: -24px -96px;
    }

    a.action.source i {
        background-position: 0 -96px;
    }

    a.action.edit i {
        background-position: -24px 0;
    }

    a.action.revs i {
        background-position: -48px -48px;
    }

    a.action.backlink i {
        background-position: -24px -48px;
    }

    a.action.top i {
        background-position: -72px -48px;
    }

    a.action.recent i {
        background-position: 0 -72px;
    }

    a.action.media i {
        background-position: -24px -72px;
    }

    a.action.index i {
        background-position: -48px -72px;
    }
}
#to_top {
    input.button {
        width: 48px;
        height: 48px;
        border: 0;
        background: transparent url('images/ipari-silpleline.png') no-repeat;
        background-size: 240px 240px;
        background-position: -144px -96px;
        opacity: 0.2;
        text-indent: -9999px;
    }
}

/* content */
#dokuwiki__content {
    margin-top: 40px;

    div.breadcrumbs {
        margin-bottom: 1em;
        padding: 0.4em 1em;
        opacity: 0.4;
    }
    div.breadcrumbs:hover {
        opacity: 1.0;
    }
    div.page {
        padding: 1em;
    }
}

/* footer */
#dokuwiki__footer {
    border-top: 1px solid @ini_border;
    padding: 0.5em 1em;

    div.doc {
        margin-bottom: .6em;
    }
    .license {
        > a {
            display: block;
            float: left;
            margin-right: .5em;
            height: 2em;
        }
    }
}

.license a.urlextern {
    display: none;
}
/* icons */
