/**
 * This file provides styles for the general layout structure.
 *
 * @author Anika Henke <anika@selfthinker.org>
 */

#dokuwiki__site {

}

#sidebar_bg {
    position: fixed;
    z-index: 3;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
}

#sidebar_left {
    left: 0;
    border-right: 1px solid @ini_border;
}

#sidebar_right {
    right: 0;
    border-left: 1px solid @ini_border;
}

#sidebar_bg,
#sidebar_left,
#sidebar_right {
    display: none;
}

.sidebar {
    position: fixed;
    z-index: 4;
    width: @ini_sidebar_width;
    max-width: 66%;
    height: 100%;
    background-color: @ini_background;
}

.sidebar * {
    margin: 0;
    padding: 0;
}

#dokuwiki__usertools {
    position: static;
    width: inherit;
    bottom: 0;
}

#dokuwiki__header {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    background: @ini_background;
}

#dokuwiki__header .header_left {
    float: left;
    width: 25%;
}

#dokuwiki__header .header_right {
    float: right;
    width: 25%;
    text-align: right;
}

#dokuwiki__header div.search {
    float: right;
    display: none;
}

#dokuwiki__header h1 {
    display: inline-block;
    overflow: hidden;
    width: 50%;
    height: 1em;
    text-align: center;
    margin: 0; padding: 0;
    font-size: 1.6em;
}

#dokuwiki__site .wrapper {
    margin: 0 auto;
    max-width: @ini_site_width;
    position: relative;
}

#dokuwiki__aside {

}
[dir=rtl] #dokuwiki__aside {

}

#dokuwiki__aside > div {
    margin: 0 1.5em 0 0;
}
[dir=rtl] #dokuwiki__aside > div {
    margin: 0 0 0 1.5em;
}

#dokuwiki__content {
    margin-top: 40px;
}

#dokuwiki__content div.breadcrumbs {
    height: 1em;
    margin-bottom: 1em;
    padding: 0.4em 1em;
    overflow-y: hidden;
    opacity: 0.4;
}

#dokuwiki__content div.breadcrumbs:hover {
    opacity: 1.0;
}

#dokuwiki__content .page {
    padding: 1em;
}

#dokuwiki__footer {
    border-top: 1px solid @ini_border;
    padding: 0.5em 1em;
}

/* make content wider when there's no sidebar */
/*
.hasSidebar #dokuwiki__content {
    margin-top: 100px;
    margin-left: -@ini_sidebar_width
    width: 100%;
}
[dir=rtl] .hasSidebar #dokuwiki__content {
    margin-left: 0;
    margin-right: -@ini_sidebar_width
}

.hasSidebar #dokuwiki__content > div {
    margin-left: @ini_sidebar_width
}
[dir=rtl] .hasSidebar #dokuwiki__content > div {
    margin-left: 0;
    margin-right: @ini_sidebar_width
}

.dokuwiki .aside,
.dokuwiki .page {
    overflow: hidden;
    word-wrap: break-word;
}
*/
