/* header */
#dokuwiki__header {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    max-height: 40px;

    h1 {
        display: inline-block;
        width: 60%;
        height: 1em;
        text-align: center;
    }
    div.left {
        width: 20%;
        float: left;
    }
    div.right {
        width: 20%;
        float: right;
        text-align: right;
    }
    div.search {
        float: right;
    }
}

/* nav */
.sidebar {
    position: fixed;
    z-index: 4;
    width: @ini_sidebar_width;
    max-width: 66%;
    height: 100%;
}

#sidebar_left {
    left: 0;
}
#sidebar_right {
    right: 0;
}
#sidebar_bg {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
}

/* content */
.wrapper {
    margin: 0 auto;
    max-width: @ini_site_width;
}

/* footer */
